{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron bg-white shadow-sm rounded">
        <h1 class="display-4">Welcome to the Thought Journal</h1>
        <p class="lead">Unlock the power of self-reflection and personal growth.</p>
        <hr class="my-4">
        <p>This application is a demonstration of a project intended to be hosted locally to keep your data secure. Please remember not to enter any confidential information. No information is stored by this application.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('form') }}" role="button">Start Your Journal</a>
    </div>

    <div class="card mb-4 border-0 shadow-sm rounded">
        <div class="card-body">
            <h3 class="card-title">What is a Thought Journal?</h3>
            <p>A thought journal is your personal space to document thoughts, feelings, and experiences. It's a valuable tool for gaining insights into your mental processes and fostering emotional well-being.</p>
        </div>
    </div>

    <div class="card mb-4 border-0 shadow-sm rounded">
        <div class="card-body">
            <h3 class="card-title">Why Keep a Thought Journal?</h3>
            <ul class="list-group list-group-flush">
		    <li class="list-group-item border-0"><b>Reduce Stress</b>: Writing helps clear your mind and manage anxiety.</li>
		    <li class="list-group-item border-0"><b>Enhance Self-Awareness</b>: Gain a deeper understanding of your emotions and behaviors.</li>
		    <li class="list-group-item border-0"><b>Boost Mental Health</b>: Journaling is linked to improved mood and psychological well-being.</li>
		    <li class="list-group-item border-0"><b>Encourage Growth</b>: Reflect on patterns and insights to support personal development.</li>
            </ul>
        </div>
    </div>

    <p>Explore more about the benefits of journaling:</p>
    <ul>
        <li><a href="https://positivepsychology.com/benefits-of-journaling/" target="_blank">Positive Psychology: Benefits of Journaling</a></li>
        <li><a href="https://www.greatlakespsychologygroup.com/self-care/the-benefits-of-keeping-a-thought-journal/" target="_blank">Great Lakes Psychology Group</a></li>
    </ul>

    <p>Check out the project on <a href="https://github.com/TomAustin94/Thought-Journal" target="_blank">Github</a></p>
</div>
{% endblock %}
